{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-class-properties"
  ],
  "sourceMaps": "inline",
  "env": {
    "instance-property": {},
    "instance-property-with-spec": {
      "plugins": [
        ["transform-class-properties", { "spec": true }]
      ]
    },
    "method": {},
    "static": {},
    "getter": {}
  }
}